.features {
  &__container {
    padding-top: 15px;
  }
  &__title-cont {
    font-size: 24px;
    color: $dark-blue;
    text-align: center;
    padding: 25px 40px;
    background-color: white;
  }
  &__title {
    padding: 10px 0px;
  }
  &__item {
    display: block;
    text-align: center;
    margin: 40px 25px;

    &-title {
      color: black;
      font-size: 18px;
      margin: 0;
      padding: 0 0 20px 0;
    }
    &-text {
      color: $dark-blue;
      font-size: 14px;
      margin: 0 0 20px 0;
    }
  }
  &__iphone-screen {
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 700px) {
  .features{
    width: 700px;

    &__container {
      display: block;
      padding: 0 40px;
    }
    &__iphone-screen {
      position: relative;
      top: -45px;
      margin: 0 0 -45px 0;
    }
    &__title-cont {
      font-size: 40px;
      line-height: 45px;
      padding: 55px 40px;
    }
    &__title {
      padding: 0;
    }
    &__item {
      max-width: 300px;
      text-align: left;
      float: right;
      clear: both;
      margin: 25px 0 0 0;
      padding: 0;
    }
  }
}
