.contacts {
  text-align: center;

  &__title {
    font-size: 24px;
    color: $dark-blue;
    padding: 40px 40px;
    background-color: white;
  }

  &__text{
    padding: 0 40px 10px;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    &--red{
      font-size: 24px;
      line-height: 24px;
      font-weight: lighter;
      color: $pink;
    }
  }
  &__br {
    display: none;
  }
}
@media (min-width: 700px) {
  .contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    &__title {
      font-size: 40px;
      display: block;
      width: 400px;
    }
    &__section {
      display: block;
      width: 300px;
      height: 90px;
    }
  }
}

@media (min-width: 1200px) {
  .contacts {
    padding: 0 130px;
    &__br {
      display: inline-block;
    }
    &__title {
      flex-basis: 100%;
      font-size: 50px;
      line-height: 60px;
      padding: 60px 0;
    }
    &__section:nth-child(3) {
      order: 10;
    }
    &__text {
      padding-bottom: 30px;
    }
  }
}
