.travelers {
  background: $bg-color;
  &__field-cont {
    text-align: center;
  }
  &-table {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    margin: 50px 0 0 0;
    border-top: 2px solid $border-color;
    &__tr {
      display: flex;
      justify-content: stretch;
      align-items: flex-start;
      margin: 20px 0 0 0;
    }

    &__num {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 63px;
      height: 63px;
      border: 2px solid $border-color;
      box-sizing: border-box;
      margin-right: -4px;
      font-size: 18px;
    }
    &__delete {
      display: none;
    }
  }
  &__field {
    display: block;
    width: 100%;
    height: 63px;
    font-size: 18px;
    line-height: 30px;
    color: $dark-blue;
    border: 2px solid $border-color;
    border-radius: 2px;
    padding: 0 20px;
    margin: auto;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
}
@media (min-width: 700px) {
  .travelers {
    background: none;

    &-table {
      &__tr {
        justify-content: space-between;
      }
      &__delete {
        display: block;
        width: 55px;
        color: black;
        font-size: 14px;
        text-transform: uppercase;
        margin: 60px 0 0;
      }
    }
    &-table__num {
      background: $bg-color;
    }
    &__field {
      width: 300px;
      &-cont {
        text-align: left;
      }
    }
  }
}
