.app-block {
  background-color: #1d2631;
  padding: 30px 0;
  position: relative;
  z-index: 2;
  margin-top: 0px;
  min-width: 320px;
  display: block;
  min-height: 210px;
  &__download-btn {
    display: block;
    width: 275px;
    height: 50px;
    border-radius: 30px;
    border: 3px solid white;
    font: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    &:hover {
      background: white;
      color: $pink;
      border: 3px solid white;
    }
    &:active {
      color: transparentize($pink, 0.7);
      border: 3px solid white;
    }
  }
  &__platform-logos-cont {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 205px;
    padding: 20px 0;
    margin: 0 auto;
  }
  &__platform-logos {

  }
  &__text {
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 0 45px;
  }
}
@media (min-width: 700px) {
  .app-block {
    background-color: transparent;
    margin: 0 0 0 35px;
    padding: 30px 0 110px 0;
    max-width: 320px;
    &__text {
      font-size: 18px;
      padding: 0;
    }
    &__platform-logos-cont {
      padding: 9px 0;
    }
    &__platform-logos {
      padding: 40px 0 20px;
    }
  }
}
@media (min-width: 1200px) {
  .app-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0 0 125px;
    padding-bottom: 125px;
    height: 280px;
    &__download-btn {
      width: 300px;
      font-size: 21px;
      font-weight: bold;
    }
  }
}
