.effect-block {
  display: none;
  background: white;
  &__img {
    float: left;
    padding: 60px 40px 40px;
  }
  &__text {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    margin: 0 65px 0 0;
  }
  &__title {
    text-align: left;
    font-size: 30px;
    line-height: 36px;
    list-style: 36px;
    padding: 95px 0 10px;
    margin: 0;
  }
  &__link {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: $pink;
    text-decoration: underline;
    margin-top: 20px;
  }
}
.effect-block:after {
  content: '';
  display: table;
  clear: both;
}
@media (min-width: 700px) {
  .effect-block {
    display: block;
  }
}
@media (min-width: 1200px) {
  .effect-block {
    background: $gray-95;
    padding: 0 130px;

    &__img {
      padding: 67px 67px 67px 0;
    }
    &__br {
      display: none;
    }
    &__title {
      line-height: 30px;
    }
    &__text {
      font-size: 18px;
      line-height: 30px;
    }
    &__link {
      font-size: 18px;
      line-height: 30px;
    }
  }
}
