.effect-block {
  display: none;
  background: white;
  &__img {
    float: left;
    padding: 60px 40px 40px;
  }
  &__text {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    margin: 0 65px 0 0;
  }
  &__title {
    text-align: left;
    font-size: 30px;
    line-height: 35px;
    list-style: 36px;
    padding: 95px 0 10px;
    margin: 0;
  }
  &__link {
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    color: $pink;
    text-decoration: underline;
  }
}
.effect-block:after {
  content: '';
  display: table;
  clear: both;
}
@media (min-width: 700px) {
  .effect-block {
    display: block;
  }
}
