.offers-table {
  width: 833px;
  margin: 50px 0 40px -256px;
  border: 2px solid $border-color;
  border-top: none;
  border-collapse: collapse;
  text-transform: uppercase;


  &__header {
    height: 98px;
    background: $dark-blue;
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    border: 2px solid $border-color;
    border-top: none;
    border-bottom: none;
    border-collapse: collapse;
    position: relative;
    overflow: hidden;
    &-hit {
      position: absolute;
      top: 10px;
      left: -25px;
      display: block;
      width: 100px;
      height: 30px;
      background: $pink;
      color: white;
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
      transform: rotate(-45deg);
      /*background: $dark-blue url('../sass/offers-table/hit.png') no-repeat;*/
    }
  }

  &__header-price {
    display: block;
    font-weight: normal;
    font-size: 24px;
    font-weight: 300;
  }

  &__cell {
    width: 275px;
    height: 60px;
    padding: 0 22px;
    font-size: 14px;
    font-weight: 400;
    border: 2px solid $border-color;
    border-top: none;
    border-collapse: collapse;
    background: white;
  }
  &__cell--hidden {
    display: none;
    border: 2px solid $border-color;
  }
  &__cell--cross {
    background: white url('../img/no.svg') no-repeat 90% 50%;
  }
  &__cell--check {
    background: white url('../img/yes.svg') no-repeat 90% 50%;
  }
  &__empty {
    visibility: hidden;
  }
  &__link-cont {
    text-align: center;
    margin: 40px 0;
  }
  &__link {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #bec2c7;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0px 20px 0 0;
    &:hover {
      background-color: #7e868f;
    }
    &:active {
      background-color: #e9ebec;
    }
  }
  &__link--current {
    background-color: transparent;
    border: 3px solid $dark-blue;
    &:hover {
      background-color: transparent;
    }
    &:active {
      background-color: transparent;
    }
  }
}

@media (min-width: 400px) {
  .offers-table {
    width: inherit;
    margin: 0px 20px;

    &__header {
      height: 75px;
      font-size: 16px;
      &-hit {
        top: 3px;
        left: -33px;
      }
    }
    &__cell--hidden {
      display:  table-cell;
    }
    &__cell-text {
      display: none;
    }
    &__cell--cross {
      background-position: 50% 50%;
    }
    &__cell--check {
      background-position: 50% 50%;
    }
    &__link-cont {
      display: none;
    }
  }
}
@media (min-width: 700px) {
  .offers-table {
    margin: 0 40px;
    width: 620px;
    &__header {
      height: 75px;
      font-size: 16px;
      &-hit {
        top: 3px;
        left: -33px;
      }
    }

    &__header-price {
      font-size: 18px;
    }
    &__cell {
      width: 152px;
      height: 45px;
      padding: 0 15px;
      text-transform: capitalize;
    }
    &__cell--hidden {
      display:  table-cell;
    }
    &__cell-text {
      display: none;
    }
    &__cell--cross {
      background-position: 50% 50%;
    }
    &__cell--check {
      background-position: 50% 50%;
    }
    &__link-cont {
      display: none;
    }
  }
}
@media (min-width: 1200px) {
  .offers-table {
    margin: 0 130px;
    width: inherit;
    &__header {
      height: 98px;
      width: 234px;
      font-size: 18px;
      &-hit {
        top: 11px;
        left: -35px;
        width: 125px;
      }
    }

    &__header-price {
      font-size: 24px;
    }
    &__cell {
      width: 234px;
      height: 59px;
      padding: 0 24px;
    }
  }
}
