.offers-table {
  width: 833px;
  margin: 40px 0 40px -256px;
  border: 2px solid $border-color;
  border-collapse: collapse;
  text-transform: uppercase;


  &__header {
    height: 100px;
    background: $dark-blue;
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    border: 2px solid $border-color;
    border-collapse: collapse;
    position: relative;
    overflow: hidden;
    &-hit {
      position: absolute;
      top: 10px;
      left: -25px;
      display: block;
      width: 100px;
      height: 30px;
      background: $pink;
      color: white;
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
      transform: rotate(-45deg);
      /*background: $dark-blue url('../sass/offers-table/hit.png') no-repeat;*/
    }
  }

  &__header-price {
    display: block;
    font-weight: normal;
    font-size: 24px;
  }

  &__cell {
    width: 275px;
    height: 60px;
    padding: 0 22px;
    font-size: 14px;
    border: 2px solid $border-color;
    border-collapse: collapse;
    background: white;
  }
  &__cell--hidden {
    display: none;
  }
  &__cell--cross {
    background: white url('../sass/offers-table/no.svg') no-repeat 90% 50%;
  }
  &__cell--check {
    background: white url('../sass/offers-table/yes.svg') no-repeat 90% 50%;
  }
  &__empty {
    visibility: hidden;
  }
  &__link-cont {
    text-align: center;
    margin: 40px 0;
  }
  &__link {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #bec2c7;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0px 20px 0 0;
  }
  &__link--current {
    background-color: transparent;
    border: 3px solid $dark-blue;
  }
}
