.social-links {
  display: flex;
  justify-content: center;

  &__btn {
    display: block;
    width: 45px;
    height: 45px;
    border: 2px solid #e9ebec;
    border-radius: 50%;
    margin: 0 6px;
    &--tweeter {
      background: url('../sass/social-links/social-tweeter.png') no-repeat 50% 50%;
    }
    &--facebook {
      background: url('../sass/social-links/social-facebook.png') no-repeat 50% 50%;
    }
    &--youtube {
      background: url('../sass/social-links/social-youtube.png') no-repeat 55% 50%;
    }
  }
}
