.form{
  &__container{
    padding: 30px 20px;

    &--gray{
      background: $bg-color;
    }
  }
  &__header {
    font-size:14px;
    line-height: 30px;
    text-align: center;
    padding: 20px 20px 0;
    color: $dark-blue;
  }
  &__header-hidden-text {
    display: none;
  }
  &__item {
    width: 280px;
    margin: auto;
  }
  &__fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }
  &__field {
    display: block;
    width: 100%;
    height: 63px;
    font-size: 18px;
    line-height: 30px;
    color: $dark-blue;
    border: 2px solid $border-color;
    border-radius: 2px;
    padding: 0 20px;
    margin: auto;
    margin-bottom: 10px;
    box-sizing: border-box;

    &--minus {
      display: inline-block;
      width: 63px;
      vertical-align: middle;
      line-height: 56px;
      font-size: 40px;
      padding: 0;
      text-align: center;
      margin-left: -6px;
    }

    &--duration {
      display: inline-block;
      width: 160px;
      vertical-align: middle;
      margin-left: -6px;
    }
    &--travelers {
      display: inline-block;
      width: 160px;
      vertical-align: middle;
      margin-left: -6px;
    }
    &

    &-label {
      display: block;
      color: $pink;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 30px;
      color: $pink;
      padding: 5px 0 5px 20px;
    }
  }
  &__title {
    display: block;
    color: $pink;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    padding: 0px 10px 20px;
    text-align: center;
    font-weight: 400;
    &--blue {
      color: $dark-blue;
    }
  }
  &__legend {
    color: $pink;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    padding: 0 15px 30px;
  }
  &__list {
    list-style: none;
    padding: 5px 0 0;
    margin: 0;

    &-item {
      font-size: 18px;
      line-height: 30px;
      padding: 21px 0;
    }
  }
  &__submit-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0 0;
    height: 140px;
    padding: 0 20px;
  }
}

.form__radio[type="radio"] + .form__list-label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 21px 0 12px;
  vertical-align: middle;
  border-radius: 50%;
  background: white;
  box-shadow:
  0 0 0 10px white,
  0 0 0 12px $border-color;
}
.form__radio[type="radio"], .form__checkbox[type="checkbox"] {
  display: none;
}
.form__radio[type="radio"]:checked + .form__list-label:before {
  background: #d22856;
  box-shadow:
  0 0 0 10px white,
  0 0 0 12px $border-color;
}
.form__checkbox[type="checkbox"] + .form__list-label:before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 20px 0 0px;
  vertical-align: middle;
  border-radius: 2px;
  background: white;
  border: 2px solid $border-color;
}
.form__checkbox[type="checkbox"]:checked + .form__list-label:before {
  background: url('../sass/form/yes.svg') no-repeat 50% 50%;
}
