@import 'components/variables';

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  min-width: 320px;
}
a {
  color:white;
  text-decoration: none
}
p {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.map {
  margin-top: 30px;
  &__iframe {
    width: 100%;
    height: 260px;
  }
}

.main-header {
  background-color: #2a3948;
  background-repeat: no-repeat;
  background-image: url("../img/background-mobile@1x.jpg");
  background-position: 50% top;
  background-size: cover;
  position: relative;
}


.page-title {
  font-size: 24px;
  color: white;
  margin: 20px 40px;
  text-align: center;
  font-weight: lighter;
  display: block;
  &--form {
    padding: 0 0 45px;
  }
}
.intro-img {
  display: block;
  height: 286px;
  background-image: url("../img/iphone-hand-mobile.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 258px auto;
}

.text-pink {
  color: $pink;
}

.offers-block {
  background: $bg-color;
  overflow: hidden;
}

.triangle-white {
  height: 30px;
}
.triangle-white-footer {
  position: absolute;
  height: 35px;
  max-width: 95%;
}




@import "components/navigation";
@import "components/app-block";
@import "components/features";
@import "components/review";
@import "components/offers-table";
@import "components/contacts";
@import "components/form";
@import "components/travelers-table";
@import "components/button";
@import "components/main-container";
@import "components/main-footer";
@import "components/effect-block";


@media (min-width: 700px) {
  body {
    width: 700px;
  }
  .main-header {
    background-image: url("../img/background-tablet@1x.jpg");
  }

  .page-title {
    font-size: 40px;
    margin: 90px 30px 0 70px;
    padding: 0;
    line-height: 50px;
    max-width: 240px;
    &--form {
      max-width: none;
      color: white;
      font-size: 50px;
      line-height: 60px;
      margin: 0;
      padding: 69px 80px 80px;
      text-align: center;
      font-weight: lighter;
    }
  }

  .intro-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 700px;
    height: 545px;
    margin: 0;
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat top left;
    background-size: 700px auto;
  }

  .offers-block {
    padding: 35px 0 70px;
  }

  .map__iframe {
    height: 380px;
  }

  .triangle-white {
    height: 50px;
  }
  .triangle-white-footer {
    max-width: 700px;
    height: 75px;
  }
}

@media (min-width: 1200px) {
  body {
    width: 1200px;
  }
  .main-header {
    /*background-image: url("../img/background-tablet@1x.jpg");*/
    background-size: cover;
  }

  .triangle-white {
    height: 90px;
  }

  .page-title {
    font-size: 50px;
    max-width: 231px;
    margin: 110px 0 0 165px;
    line-height: 60px;
    &--form {
      max-width: 745px;
      margin: 0 auto;
    }
  }

  .intro-img {
    width: 1050px;
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat top left;
    background-size: 1050px auto;
    height: 645px;
    bottom: 0;
    right: 0;
  }

  .offers-block {
    padding: 60px 0 95px;
  }

  .triangle-white-footer {
    height: 125px;
    max-width: 1200px;
  }
  .map__iframe {
    height: 520px;
  }
}
@media (min-resolution: 1.5dppx) {
  .main-header {
    background-image: url("../img/background-mobile@2x.jpg");
  }
  .intro-img {
    background-image: url("../img/iphone-hand-mobile@2x.png");
  }
}
@media (min-width: 700px) and (min-resolution: 1.5dppx) {
  .main-header {
    background-image: url("../img/background-tablet@2x.jpg");
  }
  .intro-img {
    background-image: url("../img/iphone-hand-tablet@2x.png");
  }
}
@media (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .main-header {
    background-image: url("../img/background-fullsize.jpg");
  }
  .intro-img {
    background-image: url("../img/iphone-hand-desktop@2x.png");
  }
}
