.navigation {
  display: block;
  /*height: 65px;*/
  background-color: rgba(0,0,0,.3);
  position: relative;

  &__logo {
    display: block;
    width: 115px;
    height: 65px;
    padding: 0 20px;
    z-index: 100;
    position: relative;
    background: url("../img/logotype-white-mobile.svg") no-repeat 0 100%;
    background-position: center;
  }

  &__menu{
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    &--show {
      display: block;
    }

    &-open {
      display: block;
      width:50px;
      height:24px;
      background-image: url('../img/menu-burger.svg');
      background-repeat: no-repeat;
      position:absolute;
      top: 20px;
      right: 20px;

    }
    &-close {
      display: block;
      width: 23px;
      height: 23px;
      background-image: url('../img/menu-cross.svg');
      position:absolute;
      top: 20px;
      right: 20px;
    }
    &-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-item {
      height: 64px;
      color: white;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      border-top: 1px solid #485461;
      border-bottom: 1px solid #000101;
      background-color: $dark-blue;
      text-align: center;
      text-decoration: none;
      line-height: 64px;
      z-index: 100;
    }
  }
}
@media (min-width: 700px) {
 .navigation {
  height: 110px;
  &__menu-item:first-child {
    height: 110px;
  }
  &__logo {
    background: url("../img/logotype-white-tablet.svg") no-repeat 0 100%;
    margin-left: 40px;
    padding-left: 70px;
  }
  &__menu-open {
    top: 44px;
    right: 40px;
  }
  &__menu-close {
    top: 45px;
    right: 40px;
  }
}
}
